/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/css3";
//@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,400,200);
@import url('https://fonts.googleapis.com/css?family=Cardo|Montserrat:600');

$default-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
$content-transition: all 0.5s ease-in-out;

$lead-font: montserrat;
$lead-weight: 600;
$copy-font: cardo;
$copy-weight: 400;

$nav-bg: #01a1dd;
$nav-link-hover-bg: #2FB9ED;
$nav-link-active-bg: #015778;
$nav-active-color: #fff;
$nav-link-alt-bg: #08B1F2;
$body-bg: #015778;
$content-example-bg: rgba(0,0,0,0.7);
$content-example-color: #fff;
$link-dark-color: #22313F;
$link-color: #2FB9ED;
$link-hover-color: #fff;

$nav-height: 50px;
$nav-med-height: 75px;
$nav-mobi-height: 75px;

$bio-size: 300px;

$content-padding-size: 0;
$content-padding: 0 $content-padding-size;
$content-font-size: 16pt;
$content-med-font-size: 12pt;
$content-mobi-font-size: 16pt;
$content-mobi-margin-top: 30px;
$content-example-size: 250px;

@mixin x-user-select ($value: none) {
	-webkit-user-select: $value;
	   -moz-user-select: $value;
	    -ms-user-select: $value;
	        user-select: $value;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin gradientbg($r,$g,$b) {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+80,7db9e8+100,000000+100&amp;1+0,0.7+80,0.4+100 */
	background: -moz-linear-gradient(top,  rgba($r,$g,$b,1) 0%, rgba($r,$g,$b,0.7) 80%, rgba($r,$g,$b,0.4) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($r,$g,$b,1)), color-stop(80%,rgba($r,$g,$b,0.7)), color-stop(100%,rgba($r,$g,$b,0.4))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba($r,$g,$b,1) 0%,rgba($r,$g,$b,0.7) 80%,rgba($r,$g,$b,0.4) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba($r,$g,$b,1) 0%,rgba($r,$g,$b,0.7) 80%,rgba($r,$g,$b,0.4) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba($r,$g,$b,1) 0%,rgba($r,$g,$b,0.7) 80%,rgba($r,$g,$b,0.4) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba($r,$g,$b,1) 0%,rgba($r,$g,$b,0.7) 80%,rgba($r,$g,$b,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000004',GradientType=0 ); /* IE6-9 */
}

body {
  font-family: $copy-font;
  font-weight: $copy-weight;
  background-color: $body-bg;
  display:flex;
  justify-content: center;
	overflow:hidden;
  margin:0;
  @include scrollbars(0.5em, $body-bg);
}

a {
	color: $link-color;
	text-decoration: none;
	font-weight: 900;

	&:hover {
		color: $link-hover-color;
	}
}

.bg {
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
	z-index: -1;

	&.blur {
		@include filter(blur(20px) brightness(150%));
	}
}

.ocean-bg {
	position:absolute;
	top:-30%;
	left:-30%;
	width:160%;
	height:160%;
	@extend .bg;
	background-image: url(../images/los-angeles-bg.jpg);

	&.blur {
		@include filter(none);
		background-image: url(../images/los-angeles-bg-blur.jpg);
	}
}

// Main Site
#nav {
  background-color:$nav-bg;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  z-index:1000;
	@include box-shadow(0 0 30px rgba(0,0,0,0.5));

  ul.links {
    list-style-type:none;
		width:60%;
    margin: 0 auto;
    text-align: center;
    padding:0;
    display:table;

    li {
      font-family: $lead-font;
      font-weight: $lead-weight;
      display:table-cell;
      vertical-align: middle;
      position:relative;
      width:20%;
      height:$nav-height;
      cursor:pointer;
      border-radius: 0 0 20px 20px;
      @include x-user-select(none);
      @include transition($default-transition);

			.fa {
				display: none;
			}

      &:hover {
        background-color:$nav-link-hover-bg;
      }

      &.active {
        background-color:$nav-link-active-bg;
        color:$nav-active-color;

        &:hover {
          background-color: $nav-link-alt-bg;
        }
      }

      &:active {
        transform: translateY(2px);
      }
    }
  }
}

#content {
  position:absolute;
  top:0px;
  left:20%;
  height:100%;
  width:60%;
  overflow:hidden;
  @include box-shadow(0 0 30px rgba(0,0,0,0.5));
  z-index: 2;

  .screen {
    display:block;
    position:absolute;
    top:0;
    // visibility: hidden;
    display: none;
    width:100%;
    height: inherit;
    padding: $content-padding;
    overflow-y: auto;

    &.active {
      // visibility: visible;
      display:inline-block;
    }

    &::before {
      content: "";
      display:block;
      height:$nav-height + 25px !important;
    }
    
    $spaced-amount: 40px;
    div.spaced {
      margin: $spaced-amount 0;
    }

    h1, h2, h3, h4, h5, h6 {
      font-family: $lead-font;
      font-weight: $lead-weight;

      &.large {
        margin: 0;
        text-align: center;
      }
    }

    h1.large {
      font-size: 5em;
    }

    h2.large, h3.large {
      font-size: 2em;
      color: $link-dark-color;
    }

    h4.large {
      font-weight: initial;
      font-size: 1.5em;
      color: $link-dark-color;
    }
    
    h1 {
      margin: 0 0 50px 25px;
    }

    .article {
      font-size: 16pt;
      // margin-bottom:50px;

      &.splash {
        width: inherit;
        height:600px;

        h1 {
          position:absolute;
          bottom:0px;
          margin: 0;
          padding:10px;
        }
      }

      h1 {
        color:#fff;
        font-size:24pt;
      }

      hr {
        border:none;
        border-bottom: 1px solid rgba(0,0,0,0.5);
      }

      div.third-container {
        min-height: 300px;

        .head {
          display:block;
          margin-top:30px;
          font-size: 12pt;
          text-align: center;
        }

        div.third {
          position:relative;
          left: -$content-padding-size;
          float:left;
          width: 30.33333%;
          height: 300px;
          padding:0 2%;
          margin:0;

          ul.details {
            list-style-type: none;
            padding:0;
            text-align: right;

            .info {
              font-size: 10pt;
              line-height: 18pt;
              float:left;
            }
          }
        }

        img.bio {
          width: 100%;
          max-width: 300px;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
          @include border-radius(15%);
        }

        div.twothirds {
          position: relative;
          right: -$content-padding-size;
          float: right;
          width: 60.66667%;
          height: 300px;
          padding: 0 2%;
          margin: 0;
          
          &.about .copy-container {
            // Not sure why this works, but it fixes positioning on Chrome
            border: 1px solid rgba(0,0,0,0);
            position: relative;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      $timeline-padding: 2%;
      $timeline-width: 300px;
      $timeline-color: #3498db;
      $timeline-logo-width: 50px;
      .timeline-container {
        padding: $timeline-padding;
        
        .timeline-point {

          .timeline-date {
            box-sizing: border-box;
            position: absolute;
            font-size: 10pt;
            width: $timeline-width;
            text-align: right;
            padding-top: $timeline-padding;
            padding-right: $timeline-padding;

            .logo {
              display: inline-block;
              margin-left: $timeline-padding;
              width: $timeline-logo-width;
              height: $timeline-logo-width;
              border-radius: 50%;
              text-align: center;
              background-color: $timeline-color;

              i.fa {
                font-size: 30px;
                color: #fff;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          .timeline-block {
            padding-left: $timeline-width;

            .timeline-content {
              box-sizing: border-box;
              padding: $timeline-padding;
              background-color:rgba(255,255,255,0.8);
              border: 1px solid #ccc;
              border-radius: 5px;
              color: #666;
              font-size: 10pt;
        
              h3, h4 {
                font-weight: 100;
                margin-top: 0;
              }
              
              h3 {
                font-size: 18pt;
                color: #222;
              }
              
              h4 {
                font-size: 12pt;
                font-weight: 100;
                color: #999;
              }
            }
          }
        }
      }
      
      .home-bg {
        @extend .bg;
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        height:inherit;
        background-position: right;
        background-size:cover;
        background-image: url(../images/process_bg.jpg);
        text-align: center;
      }
    }

    .flex-container {
      width: inherit;
      @include display-flex;
      @include flex-flow(row wrap);
      @include justify-content(space-around);
      @include align-items(flex-start);
      @include align-content(flex-start);

      .example {
        h3 {
          border: none;
        }

        .thumb {
          width: $content-example-size;
          height: $content-example-size;
          @include order(1);
          overflow: hidden;
          margin: 10px;

          img {
            width: $content-example-size;
            height: $content-example-size;
            @include border-radius(15px);
          }

          p.description {
            $ex-padding: 5px;
            width: $content-example-size - (2 * $ex-padding);
            height: $content-example-size - (2 * $ex-padding);
            display: inline-block;
            position:relative;
            top: -(2.1 * $content-example-size);
            left: 0;
            @include border-radius(15px);
            padding: $ex-padding;
            margin: 0;
            background-color: $content-example-bg;
            color: $content-example-color;
            @include gradientbg(0, 0, 0);
            @include transition($default-transition);
          }

          &:hover {
            p.description {
              top: -6 - $content-example-size;
              left: 0px;
            }
          }
        }
      }

      $logo-left: 30%;
      h2 {
        margin-left: $logo-left;
        width: inherit;
        @include order(-1);
      }

      p.app.description {
        // @include align-self()
        width: 100% - $logo-left - 1%;
        min-height: $content-example-size;
        text-align: justify;
        text-justify: inter-word;
        padding: 0 1% 0 0;
        margin: 0;
        display: inline;
      }

      .slide {
        width: 180px;
        margin: 30px 25px;
        @include border-radius(15px);

        &.port {
          width: 300px;
        }
      }

      a.logo {
        width: $logo-left;
        text-align: center;
        @include transition($content-transition);

        $logo_top: -50px;
        img.logo {
          position:relative;
          top: $logo_top;
          width: 75%;
          height: 75%;
          margin-top: 0;
          max-height: 250px;
          max-width: 250px;
          @include transition($content-transition);

          &:hover {
            margin-top: -5%;
            width: 85%;
            height: 85%;
          }
        }

        .animator {
          $doctord_width: 88px;
          $doctord_height: 136px;
          $doctord_step: 8px;
          $anim_time: 1s;
          display:inline;

          position:absolute;
          // width:$doctord_width + (2 * $doctord_step);
          height: $doctord_height + (2 * $doctord_step);
          width: $logo-left;
          left: 0;
          margin: 0;

          img.doctord {
            position:absolute;
            left:25%;
            width: 50%;
            height: auto;

            &:hover {
              width: 50%;
              height: auto;
            }

            &.one {
              top: $logo_top + $doctord_step * 2;
              @include animation(ddone $anim_time linear 0s infinite);
            }

            &.two {
              top: $logo_top + $doctord_step;
              @include animation(ddtwo $anim_time linear 0s infinite);
            }

            &.three {
              top: $logo_top + 0;
              @include animation(ddthree $anim_time linear 0s infinite);
            }
          }
        }
      }

      h3 {
        width: inherit;
        border-bottom: 1px solid rgba(0,0,0,0.5);
        text-align: center;
      }

      div.link {
        height: 50px;
        margin: 15px 0;
        text-align: center;
        font-size: 20px;
        color: white;

        a {
          width: 250px;
          padding: 10px 20px;
          @include border-radius(25px);
          opacity: 0.5;
          color: black;
          border: 1px solid black;
          @include transition($content-transition);

          &:hover {
            opacity: 1;
          }
        }

        .fa {
          font-size: 30px;
        }
      }

      .song {
        width: 80%;
        padding: 10px 0;
        margin: 30px 0;
        background-color:rgba(0,0,0,0.5);
        color: white;
        font-family: montserrat;
        @include border-radius(15px);
        @extend .flex-container;
        @include align-items(baseline);
        @include justify-content(center);

        span {
          display: inline-block;
        }

        .header {
          order: -1;
          width: 45%;

          &.title {
            font-size: 24px;
          }

          &.artist {
            font-weight: 100;
            text-align: right;
          }
        }

        audio {
          width: 90%;
          margin: 10px 0;
        }

        .footer {
          &.tags {
            font-size: 12px;
            font-weight: 100;
            width: 60%;
          }

          &.links {
            font-size: 30px;
            text-align:right;
            width: 30%;

            a {
              color: black;

              &:hover {
                color: white;
              }
            }
          }
        }
      }
    }
  }
}

#fa-links {
  position:absolute;
  top: $nav-height;
  left: 0px;
  width: 100%;
  z-index: -1;

  div {
    width: 20%;
    text-align: center;
    display:block;

    &.fa-left {
      float:left;
    }

    &.fa-right {
      float: right;
    }

    .fa {
      color: #fff;
      opacity: 0.5;
      display:block;
      margin: 30px 0;
      @include transition($content-transition);

      &::before {
        padding: 10px;
        border-radius: 10px;
        background-color: rgba(0,0,0,0.7);
      }

      &:hover {
        opacity: 1;
      }
    }
  }
}
// End Main Site

// Medium Site
@media (max-width: 1200px) {
  #nav {
    ul.links {
      width:100%;
      height: $nav-med-height;
      font-size:20px;
      
      li {
        border-radius: 0;
      }
    }
  }

  #content {
    right:0;
    width:80%;

    .screen {
      &::before {
        height: $nav-med-height + 25px !important;
      }

      h1 {
        font-size: 20pt;
      }

      .article {
        font-size: $content-med-font-size;

        div.third-container div.third ul.details .info {
          line-height: $content-med-font-size;
        }
        
        $timeline-logo-width: 50px;
        .timeline-container {
          .timeline-point {
            .timeline-date {
              position: initial;
              margin-bottom: 15px;
              padding-right: 15px;
              font-size: 11pt;
              width:100%;
              box-sizing: content-box;
              
              .logo {
                float: left;
                margin-left: 0;
              }
            }

            .timeline-block {
              padding-left: 0;
            }
          }
        }
      }

      .flex-container .example {
        width: 100%;
        
        .thumb {
          width: 80%;
          margin: 0 0 30px 10%;

          $description-top-position: -$content-example-size - 4px;
          p.description {
            box-sizing: border-box;
            width: 100%;
            padding-left:260px;
            padding-right:15px;
            float:right;
            position:relative;
            top: $description-top-position;
            left:0;
            background: none;
            color: black;
            text-align: justify;
            text-justify: inter-word;
            @include transition(none);

            a {
              color: $link-color;

              &:hover {
                color: $link-hover-color;
              }
            }
          }

          &:hover {
            p.description {
            top: $description-top-position;
            left: 0;
            }
          }
        }
      }
    }
  }

  #fa-links {
    top: $nav-med-height;
    width: 20%;
    right: auto;
    left: 0px;

    div {
      width: auto;

      &.fa-left {
        float:none;
      }

      &.fa-right {
        float: none;
      }
    }
  }
}
// End Medium Site

// Mobile
@media (max-width: 700px) {
  .bg {
    display:none;
  }

  #nav {
    ul.links {
      height: $nav-mobi-height;

      li {
        .fa {
          display:block;
          font-size:30px;
        }

        .text {
          font-size:12px;
          font-weight: 100;
        }
      }
    }
  }

  #content {
    left: 0;
    width: 100%;

    .bg {
      display: inline-block;
    }

    .screen {
      top: 0;
      padding:0;

      &::before {
        height: $nav-mobi-height + 25px !important;
      }

      h1 {
        font-size: 16pt;
      }

      .article + .article {
        margin-top: $content-mobi-margin-top;
      }

      .article {
        font-size: $content-mobi-font-size;
        text-align: center;

        &.splash {
          display:none;
        }

        h1 {
          font-size: 16pt;
        }
        
        p {
          text-align: justify;
          text-justify: inter-word;
        }

        div.third-container {
          .head {
            margin-top: 0;
          }

          div.third + div.third {
            margin-top: $content-mobi-margin-top;
          }

          div.third, div.twothirds {
            width: 96%;
            height: auto;
            left:auto;
            padding: 0 2%;

            ul.details {
              .info {
                  line-height: $content-mobi-font-size;
              }
            }
            
            img.bio, &.about .copy-container {
              top: 0;
              transform: translateY(0);
            }
          }
          
          div.twothirds hr {
            display:none;
          }
        }
      }

      .flex-container {

      .example {
        text-align: center;
        
        .thumb {
          width: 100%;
          height: auto;
          margin: 0 0 30px;

          p.description {
            top:0;
            left:0;
            height: auto;
            padding-left:5px;
            padding-right:5px;
            text-align: justify;
            text-justify: inter-word;
          }

          &:hover p.description {
            top:0;
            left:0;
          }
        }
        }
      }
    }
  }

  #fa-links {
    display: none;
  }
}
// End Mobile Site