/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,400,200);
/* line 104, ../sass/screen.scss */
body {
  font-family: "Raleway", sans-serif;
  background-color: #1BA39C;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
/* line 47, ../sass/screen.scss */
body ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
/* line 52, ../sass/screen.scss */
body ::-webkit-scrollbar-thumb {
  background: #1BA39C;
}
/* line 56, ../sass/screen.scss */
body ::-webkit-scrollbar-track {
  background: #8dd1cd;
}
/* line 61, ../sass/screen.scss */
body body {
  scrollbar-face-color: #1BA39C;
  scrollbar-track-color: #8dd1cd;
}

/* line 114, ../sass/screen.scss */
a {
  color: #22A7F0;
  text-decoration: none;
  font-weight: 700;
}
/* line 119, ../sass/screen.scss */
a:hover {
  color: #6BB9F0;
}

/* line 124, ../sass/screen.scss */
.bg, .ocean-bg, #content .screen .article .home-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
/* line 130, ../sass/screen.scss */
.bg.blur, .blur.ocean-bg, #content .screen .article .blur.home-bg {
  -webkit-filter: blur(20px) brightness(150%);
  filter: blur(20px) brightness(150%);
}

/* line 135, ../sass/screen.scss */
.ocean-bg {
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background-image: url(../images/IMG_0107.JPG);
}

/* line 146, ../sass/screen.scss */
#nav {
  background-color: #336E7B;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
/* line 155, ../sass/screen.scss */
#nav ul.links {
  list-style-type: none;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  display: table;
}
/* line 163, ../sass/screen.scss */
#nav ul.links li {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 20%;
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
}
/* line 173, ../sass/screen.scss */
#nav ul.links li:hover {
  background-color: #A2DED0;
}
/* line 177, ../sass/screen.scss */
#nav ul.links li.active {
  background-color: #22313F;
  color: #fff;
}
/* line 181, ../sass/screen.scss */
#nav ul.links li.active:hover {
  background-color: #4ECDC4;
}
/* line 186, ../sass/screen.scss */
#nav ul.links li:active {
  transform: translateY(2px);
}

/* line 193, ../sass/screen.scss */
#content {
  position: absolute;
  top: 0px;
  left: 20%;
  height: 100%;
  width: 60%;
  overflow: hidden;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/* line 203, ../sass/screen.scss */
#content .screen {
  display: block;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: inherit;
  padding: 0 0;
  overflow-y: auto;
}
/* line 214, ../sass/screen.scss */
#content .screen.active {
  display: inline-block;
}
/* line 219, ../sass/screen.scss */
#content .screen::before {
  content: "";
  display: block;
  height: 75px !important;
}
/* line 225, ../sass/screen.scss */
#content .screen h1 {
  font-weight: 100;
  margin: 0 0 50px 25px;
}
/* line 233, ../sass/screen.scss */
#content .screen .article {
  font-size: 16pt;
}
/* line 237, ../sass/screen.scss */
#content .screen .article.splash {
  width: inherit;
  height: 600px;
}
/* line 241, ../sass/screen.scss */
#content .screen .article.splash h1 {
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding: 10px;
}
/* line 249, ../sass/screen.scss */
#content .screen .article h1 {
  color: #fff;
  font-size: 24pt;
}
/* line 254, ../sass/screen.scss */
#content .screen .article hr {
  border: none;
  border-bottom: 1px solid #fff;
}
/* line 259, ../sass/screen.scss */
#content .screen .article div.third-container {
  height: 700px;
}
/* line 262, ../sass/screen.scss */
#content .screen .article div.third-container .head {
  display: block;
  margin-top: 30px;
  font-size: 12pt;
  text-align: center;
}
/* line 269, ../sass/screen.scss */
#content .screen .article div.third-container div.third {
  position: relative;
  left: 0;
  float: left;
  width: 31.33333%;
  height: 300px;
  padding: 0 1%;
  margin: 0;
}
/* line 278, ../sass/screen.scss */
#content .screen .article div.third-container div.third img.bio {
  width: 100%;
  max-width: 300px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-filter: grayscale(100%) brightness(90%);
  filter: grayscale(100%) brightness(90%);
}
/* line 285, ../sass/screen.scss */
#content .screen .article div.third-container div.third ul.details {
  list-style-type: none;
  padding: 0;
  text-align: right;
}
/* line 290, ../sass/screen.scss */
#content .screen .article div.third-container div.third ul.details .info {
  font-size: 10pt;
  line-height: 18pt;
  float: left;
}
/* line 299, ../sass/screen.scss */
#content .screen .article .home-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  background-position: right;
  background-size: cover;
  background-image: url(../images/process_bg.jpg);
  text-align: center;
}
/* line 313, ../sass/screen.scss */
#content .screen .demo {
  display: block;
  position: relative;
  width: 100%;
  margin: 0 auto 100px auto;
}
/* line 319, ../sass/screen.scss */
#content .screen .demo p.description {
  display: inline;
  float: right;
}
/* line 324, ../sass/screen.scss */
#content .screen .demo span.codepen {
  display: inline-block;
  width: 300px;
  height: 200px;
  overflow: hidden;
}
/* line 330, ../sass/screen.scss */
#content .screen .demo span.codepen div {
  width: 600px;
  height: 200px;
  overflow: hidden;
}
/* line 335, ../sass/screen.scss */
#content .screen .demo span.codepen div iframe {
  -ms-zoom: 0.5;
  -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.5);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.5);
  -webkit-transform-origin: 0 0;
  width: 300px;
  overflow: auto;
}
/* line 344, ../sass/screen.scss */
#content .screen .examples-container {
  width: inherit;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}
/* line 352, ../sass/screen.scss */
#content .screen .examples-container .example {
  width: 200px;
  height: 200px;
  order: 1;
  overflow: hidden;
  margin: 10px;
}
/* line 359, ../sass/screen.scss */
#content .screen .examples-container .example img {
  width: 200px;
  height: 200px;
}
/* line 364, ../sass/screen.scss */
#content .screen .examples-container .example p.description {
  width: 190px;
  height: 190px;
  position: relative;
  top: -400px;
  left: 0;
  padding: 5px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+80,7db9e8+100,000000+100&amp;1+0,0.5+80,0+100 */
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(80%, rgba(0, 0, 0, 0.5)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  -moz-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
}
/* line 380, ../sass/screen.scss */
#content .screen .examples-container .example:hover p.description {
  top: -204px;
  left: 0px;
}

@media (max-width: 1200px) {
  /* line 394, ../sass/screen.scss */
  #nav ul.links {
    width: 100%;
    height: 75px;
    font-size: 20px;
  }

  /* line 401, ../sass/screen.scss */
  #content {
    left: 0;
    width: 80%;
  }
  /* line 406, ../sass/screen.scss */
  #content .screen::before {
    height: 100px !important;
  }
  /* line 410, ../sass/screen.scss */
  #content .screen h1 {
    font-size: 20pt;
  }
  /* line 414, ../sass/screen.scss */
  #content .screen .article {
    font-size: 12pt;
  }
  /* line 423, ../sass/screen.scss */
  #content .screen .article div.third-container div.third ul.details .info {
    line-height: 12pt;
  }
  /* line 432, ../sass/screen.scss */
  #content .screen .examples-container .example {
    width: 400px;
  }
  /* line 435, ../sass/screen.scss */
  #content .screen .examples-container .example p.description {
    top: -204px;
    left: 200px;
    background: rgba(0, 0, 0, 0.5);
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  /* line 443, ../sass/screen.scss */
  #content .screen .examples-container .example:hover p.description {
    top: -204px;
    left: 200px;
  }
}
@media (max-width: 700px) {
  /* line 457, ../sass/screen.scss */
  .bg, .ocean-bg, #content .screen .article .home-bg {
    display: none;
  }

  /* line 463, ../sass/screen.scss */
  #nav ul.links {
    height: 75px;
  }

  /* line 468, ../sass/screen.scss */
  #content {
    left: 0;
    width: 100%;
  }
  /* line 472, ../sass/screen.scss */
  #content .bg, #content .ocean-bg, #content .screen .article .home-bg {
    display: inline-block;
  }
  /* line 476, ../sass/screen.scss */
  #content .screen {
    top: 0;
    padding: 0;
  }
  /* line 480, ../sass/screen.scss */
  #content .screen::before {
    height: 100px !important;
  }
  /* line 484, ../sass/screen.scss */
  #content .screen h1 {
    font-size: 16pt;
  }
  /* line 488, ../sass/screen.scss */
  #content .screen .article + .article {
    margin-top: 30px;
  }
  /* line 492, ../sass/screen.scss */
  #content .screen .article {
    font-size: 14pt;
    text-align: center;
  }
  /* line 496, ../sass/screen.scss */
  #content .screen .article.splash {
    display: none;
  }
  /* line 500, ../sass/screen.scss */
  #content .screen .article h1 {
    font-size: 16pt;
  }
  /* line 505, ../sass/screen.scss */
  #content .screen .article div.third-container .head {
    margin-top: 0;
  }
  /* line 509, ../sass/screen.scss */
  #content .screen .article div.third-container div.third + div.third {
    margin-top: 30px;
  }
  /* line 513, ../sass/screen.scss */
  #content .screen .article div.third-container div.third {
    width: 96%;
    height: auto;
    left: auto;
    padding: 0 2%;
  }
  /* line 520, ../sass/screen.scss */
  #content .screen .article div.third-container div.third ul.details .info {
    line-height: 14pt;
  }
  /* line 530, ../sass/screen.scss */
  #content .screen .examples-container .example {
    width: 200px;
    height: 400px;
  }
  /* line 534, ../sass/screen.scss */
  #content .screen .examples-container .example p.description {
    top: 0;
    left: 0;
  }
  /* line 539, ../sass/screen.scss */
  #content .screen .examples-container .example:hover p.description {
    top: 0;
    left: 0;
  }
}
