/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import url(http://fonts.googleapis.com/css?family=Raleway:700,100,400,200);
/* line 88, ../sass/screen.scss */
body {
  font-family: "Raleway", sans-serif;
  background-color: #1BA39C;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
/* line 48, ../sass/screen.scss */
body ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
/* line 53, ../sass/screen.scss */
body ::-webkit-scrollbar-thumb {
  background: #1BA39C;
}
/* line 57, ../sass/screen.scss */
body ::-webkit-scrollbar-track {
  background: #8dd1cd;
}
/* line 62, ../sass/screen.scss */
body body {
  scrollbar-face-color: #1BA39C;
  scrollbar-track-color: #8dd1cd;
}

/* line 98, ../sass/screen.scss */
a {
  color: #3A539B;
  text-decoration: none;
  font-weight: 700;
}
/* line 103, ../sass/screen.scss */
a:hover {
  color: #81CFE0;
}

/* line 108, ../sass/screen.scss */
.bg, .ocean-bg, #content .screen .article .home-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
}
/* line 114, ../sass/screen.scss */
.bg.blur, .blur.ocean-bg, #content .screen .article .blur.home-bg {
  -webkit-filter: blur(20px) brightness(150%);
  filter: blur(20px) brightness(150%);
}

/* line 119, ../sass/screen.scss */
.ocean-bg {
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background-image: url(../images/IMG_0107.JPG);
}
/* line 128, ../sass/screen.scss */
.ocean-bg.blur {
  -webkit-filter: blur(10px);
  filter: blur(10px);
  background-image: url(../images/IMG_0107_blur.JPG);
}

/* line 135, ../sass/screen.scss */
#nav {
  background-color: #336E7B;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 1000;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
/* line 144, ../sass/screen.scss */
#nav ul.links {
  list-style-type: none;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  padding: 0;
  display: table;
}
/* line 152, ../sass/screen.scss */
#nav ul.links li {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 20%;
  height: 50px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -moz-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
}
/* line 162, ../sass/screen.scss */
#nav ul.links li .fa {
  display: none;
}
/* line 166, ../sass/screen.scss */
#nav ul.links li:hover {
  background-color: #A2DED0;
}
/* line 170, ../sass/screen.scss */
#nav ul.links li.active {
  background-color: #22313F;
  color: #fff;
}
/* line 174, ../sass/screen.scss */
#nav ul.links li.active:hover {
  background-color: #4ECDC4;
}
/* line 179, ../sass/screen.scss */
#nav ul.links li:active {
  transform: translateY(2px);
}

/* line 186, ../sass/screen.scss */
#content {
  position: absolute;
  top: 0px;
  left: 20%;
  height: 100%;
  width: 60%;
  overflow: hidden;
  -moz-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
/* line 196, ../sass/screen.scss */
#content .screen {
  display: block;
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: inherit;
  padding: 0 0;
  overflow-y: auto;
}
/* line 207, ../sass/screen.scss */
#content .screen.active {
  display: inline-block;
}
/* line 212, ../sass/screen.scss */
#content .screen::before {
  content: "";
  display: block;
  height: 75px !important;
}
/* line 218, ../sass/screen.scss */
#content .screen h1, #content .screen h2, #content .screen h3 {
  font-weight: 100;
}
/* line 222, ../sass/screen.scss */
#content .screen h1 {
  margin: 0 0 50px 25px;
}
/* line 226, ../sass/screen.scss */
#content .screen .article {
  font-size: 16pt;
}
/* line 230, ../sass/screen.scss */
#content .screen .article.splash {
  width: inherit;
  height: 600px;
}
/* line 234, ../sass/screen.scss */
#content .screen .article.splash h1 {
  position: absolute;
  bottom: 0px;
  margin: 0;
  padding: 10px;
}
/* line 242, ../sass/screen.scss */
#content .screen .article h1 {
  color: #fff;
  font-size: 24pt;
}
/* line 247, ../sass/screen.scss */
#content .screen .article hr {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
/* line 254, ../sass/screen.scss */
#content .screen .article div.third-container .head {
  display: block;
  margin-top: 30px;
  font-size: 12pt;
  text-align: center;
}
/* line 261, ../sass/screen.scss */
#content .screen .article div.third-container div.third {
  position: relative;
  left: 0;
  float: left;
  width: 31.33333%;
  height: 300px;
  padding: 0 1%;
  margin: 0;
}
/* line 270, ../sass/screen.scss */
#content .screen .article div.third-container div.third img.bio {
  width: 100%;
  max-width: 300px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
/* line 276, ../sass/screen.scss */
#content .screen .article div.third-container div.third ul.details {
  list-style-type: none;
  padding: 0;
  text-align: right;
}
/* line 281, ../sass/screen.scss */
#content .screen .article div.third-container div.third ul.details .info {
  font-size: 10pt;
  line-height: 18pt;
  float: left;
}
/* line 290, ../sass/screen.scss */
#content .screen .article .home-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: inherit;
  background-position: right;
  background-size: cover;
  background-image: url(../images/process_bg.jpg);
  text-align: center;
}
/* line 304, ../sass/screen.scss */
#content .screen .flex-container, #content .screen .flex-container .song {
  width: inherit;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 313, ../sass/screen.scss */
#content .screen .flex-container .example h3 {
  border: none;
}
/* line 317, ../sass/screen.scss */
#content .screen .flex-container .example .thumb {
  width: 250px;
  height: 250px;
  -webkit-order: 1;
  order: 1;
  overflow: hidden;
  margin: 10px;
}
/* line 324, ../sass/screen.scss */
#content .screen .flex-container .example .thumb img {
  width: 250px;
  height: 250px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
/* line 330, ../sass/screen.scss */
#content .screen .flex-container .example .thumb p.description {
  width: 240px;
  height: 240px;
  display: inline-block;
  position: relative;
  top: -500px;
  left: 0;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  padding: 5px;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+80,7db9e8+100,000000+100&amp;1+0,0.5+80,0+100 */
  background: -moz-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(80%, rgba(0, 0, 0, 0.5)), color-stop(100%, transparent));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, black 0%, rgba(0, 0, 0, 0.5) 80%, transparent 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #000000 0%, rgba(0, 0, 0, 0.5) 80%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
  /* IE6-9 */
  -moz-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -o-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  -webkit-transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
  transition: background-color 0.2s, color 0.2s, top 0.2s, left 0.2s, right 0.2s, bottom 0.2s;
}
/* line 348, ../sass/screen.scss */
#content .screen .flex-container .example .thumb:hover p.description {
  top: -254px;
  left: 0px;
}
/* line 357, ../sass/screen.scss */
#content .screen .flex-container h2, #content .screen .flex-container .song h2 {
  margin-left: 30%;
  width: inherit;
  -webkit-order: -1;
  order: -1;
}
/* line 363, ../sass/screen.scss */
#content .screen .flex-container p.app.description {
  width: 69%;
  min-height: 250px;
  padding: 0 1% 0 0;
  margin: 0;
  display: inline;
}
/* line 372, ../sass/screen.scss */
#content .screen .flex-container .slide {
  width: 180px;
  margin: 30px 25px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
}
/* line 377, ../sass/screen.scss */
#content .screen .flex-container .slide.port {
  width: 300px;
}
/* line 382, ../sass/screen.scss */
#content .screen .flex-container a.logo {
  width: 30%;
  text-align: center;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 388, ../sass/screen.scss */
#content .screen .flex-container a.logo img.logo {
  position: relative;
  top: -50px;
  width: 75%;
  height: 75%;
  margin-top: 0;
  max-height: 250px;
  max-width: 250px;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 398, ../sass/screen.scss */
#content .screen .flex-container a.logo img.logo:hover {
  margin-top: -5%;
  width: 85%;
  height: 85%;
}
/* line 405, ../sass/screen.scss */
#content .screen .flex-container a.logo .animator {
  display: inline;
  position: absolute;
  height: 152px;
  width: 30%;
  left: 0;
  margin: 0;
}
/* line 419, ../sass/screen.scss */
#content .screen .flex-container a.logo .animator img.doctord {
  position: absolute;
  left: 25%;
  width: 50%;
  height: auto;
}
/* line 425, ../sass/screen.scss */
#content .screen .flex-container a.logo .animator img.doctord:hover {
  width: 50%;
  height: auto;
}
/* line 430, ../sass/screen.scss */
#content .screen .flex-container a.logo .animator img.doctord.one {
  top: -34px;
  -moz-animation: ddone 1s linear 0s infinite;
  -webkit-animation: ddone 1s linear 0s infinite;
  animation: ddone 1s linear 0s infinite;
}
/* line 435, ../sass/screen.scss */
#content .screen .flex-container a.logo .animator img.doctord.two {
  top: -42px;
  -moz-animation: ddtwo 1s linear 0s infinite;
  -webkit-animation: ddtwo 1s linear 0s infinite;
  animation: ddtwo 1s linear 0s infinite;
}
/* line 440, ../sass/screen.scss */
#content .screen .flex-container a.logo .animator img.doctord.three {
  top: -50px;
  -moz-animation: ddthree 1s linear 0s infinite;
  -webkit-animation: ddthree 1s linear 0s infinite;
  animation: ddthree 1s linear 0s infinite;
}
/* line 448, ../sass/screen.scss */
#content .screen .flex-container h3, #content .screen .flex-container .song h3 {
  width: inherit;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  text-align: center;
}
/* line 454, ../sass/screen.scss */
#content .screen .flex-container div.link {
  height: 50px;
  margin: 15px 0;
  text-align: center;
  font-size: 20px;
  color: white;
}
/* line 461, ../sass/screen.scss */
#content .screen .flex-container div.link a {
  width: 250px;
  padding: 10px 20px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  opacity: 0.5;
  color: black;
  border: 1px solid black;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 470, ../sass/screen.scss */
#content .screen .flex-container div.link a:hover {
  opacity: 1;
}
/* line 475, ../sass/screen.scss */
#content .screen .flex-container div.link .fa {
  font-size: 30px;
}
/* line 483, ../sass/screen.scss */
#content .screen .flex-container .rating-container {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-align-content: flex-start;
  align-content: flex-start;
}
/* line 492, ../sass/screen.scss */
#content .screen .flex-container .rating-container .rating {
  width: 320px;
  height: 30px;
  padding: 0;
  font-size: 20px;
}
/* line 498, ../sass/screen.scss */
#content .screen .flex-container .rating-container .rating .stars {
  float: right;
  color: #1F3A93;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
/* line 503, ../sass/screen.scss */
#content .screen .flex-container .rating-container .rating .stars .fa-star-o {
  color: #34495E;
}
/* line 507, ../sass/screen.scss */
#content .screen .flex-container .rating-container .rating .stars:hover {
  letter-spacing: 1px;
}
/* line 514, ../sass/screen.scss */
#content .screen .flex-container .song {
  width: 80%;
  padding: 10px 0;
  margin: 30px 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  -webkit-align-items: baseline;
  align-items: baseline;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 525, ../sass/screen.scss */
#content .screen .flex-container .song span {
  display: inline-block;
}
/* line 529, ../sass/screen.scss */
#content .screen .flex-container .song .header {
  order: -1;
  width: 45%;
}
/* line 533, ../sass/screen.scss */
#content .screen .flex-container .song .header.title {
  font-size: 24px;
}
/* line 537, ../sass/screen.scss */
#content .screen .flex-container .song .header.artist {
  font-weight: 100;
  text-align: right;
}
/* line 543, ../sass/screen.scss */
#content .screen .flex-container .song audio {
  width: 90%;
  margin: 10px 0;
}
/* line 549, ../sass/screen.scss */
#content .screen .flex-container .song .footer.tags {
  font-size: 12px;
  font-weight: 100;
  width: 60%;
}
/* line 555, ../sass/screen.scss */
#content .screen .flex-container .song .footer.links {
  font-size: 30px;
  text-align: right;
  width: 30%;
}
/* line 560, ../sass/screen.scss */
#content .screen .flex-container .song .footer.links a {
  color: black;
}
/* line 563, ../sass/screen.scss */
#content .screen .flex-container .song .footer.links a:hover {
  color: white;
}

/* line 574, ../sass/screen.scss */
#fa-links {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 100%;
  z-index: -1;
}
/* line 581, ../sass/screen.scss */
#fa-links div {
  width: 20%;
  text-align: center;
  display: block;
}
/* line 586, ../sass/screen.scss */
#fa-links div.fa-left {
  float: left;
}
/* line 590, ../sass/screen.scss */
#fa-links div.fa-right {
  float: right;
}
/* line 594, ../sass/screen.scss */
#fa-links div .fa {
  color: black;
  opacity: 0.5;
  display: block;
  margin: 30px 0;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 601, ../sass/screen.scss */
#fa-links div .fa:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  /* line 612, ../sass/screen.scss */
  #nav ul.links {
    width: 100%;
    height: 75px;
    font-size: 20px;
  }

  /* line 619, ../sass/screen.scss */
  #content {
    left: 0;
    width: 80%;
  }
  /* line 624, ../sass/screen.scss */
  #content .screen::before {
    height: 100px !important;
  }
  /* line 628, ../sass/screen.scss */
  #content .screen h1 {
    font-size: 20pt;
  }
  /* line 632, ../sass/screen.scss */
  #content .screen .article {
    font-size: 12pt;
  }
  /* line 641, ../sass/screen.scss */
  #content .screen .article div.third-container div.third ul.details .info {
    line-height: 12pt;
  }
  /* line 651, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb {
    width: 500px;
  }
  /* line 654, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb p.description {
    top: -254px;
    left: 250px;
    background: none;
    color: black;
    -moz-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;
  }
  /* line 662, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb p.description a {
    color: #3A539B;
  }
  /* line 665, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb p.description a:hover {
    color: #81CFE0;
  }
  /* line 672, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb:hover p.description {
    top: -254px;
    left: 250px;
  }

  /* line 683, ../sass/screen.scss */
  #fa-links {
    top: 75px;
    width: 20%;
    left: auto;
    right: 0px;
  }
  /* line 689, ../sass/screen.scss */
  #fa-links div {
    width: auto;
  }
  /* line 692, ../sass/screen.scss */
  #fa-links div.fa-left {
    float: none;
  }
  /* line 696, ../sass/screen.scss */
  #fa-links div.fa-right {
    float: none;
  }
}
@media (max-width: 700px) {
  /* line 706, ../sass/screen.scss */
  .bg, .ocean-bg, #content .screen .article .home-bg {
    display: none;
  }

  /* line 711, ../sass/screen.scss */
  #nav ul.links {
    height: 75px;
  }
  /* line 715, ../sass/screen.scss */
  #nav ul.links li .fa {
    display: block;
    font-size: 30px;
  }
  /* line 720, ../sass/screen.scss */
  #nav ul.links li .text {
    font-size: 12px;
    font-weight: 100;
  }

  /* line 728, ../sass/screen.scss */
  #content {
    left: 0;
    width: 100%;
  }
  /* line 732, ../sass/screen.scss */
  #content .bg, #content .ocean-bg, #content .screen .article .home-bg {
    display: inline-block;
  }
  /* line 736, ../sass/screen.scss */
  #content .screen {
    top: 0;
    padding: 0;
  }
  /* line 740, ../sass/screen.scss */
  #content .screen::before {
    height: 100px !important;
  }
  /* line 744, ../sass/screen.scss */
  #content .screen h1 {
    font-size: 16pt;
  }
  /* line 748, ../sass/screen.scss */
  #content .screen .article + .article {
    margin-top: 30px;
  }
  /* line 752, ../sass/screen.scss */
  #content .screen .article {
    font-size: 14pt;
    text-align: center;
  }
  /* line 756, ../sass/screen.scss */
  #content .screen .article.splash {
    display: none;
  }
  /* line 760, ../sass/screen.scss */
  #content .screen .article h1 {
    font-size: 16pt;
  }
  /* line 765, ../sass/screen.scss */
  #content .screen .article div.third-container .head {
    margin-top: 0;
  }
  /* line 769, ../sass/screen.scss */
  #content .screen .article div.third-container div.third + div.third {
    margin-top: 30px;
  }
  /* line 773, ../sass/screen.scss */
  #content .screen .article div.third-container div.third {
    width: 96%;
    height: auto;
    left: auto;
    padding: 0 2%;
  }
  /* line 780, ../sass/screen.scss */
  #content .screen .article div.third-container div.third ul.details .info {
    line-height: 14pt;
  }
  /* line 791, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb {
    width: 250px;
    height: auto;
  }
  /* line 795, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb p.description {
    top: 0;
    left: 0;
    height: auto;
  }
  /* line 801, ../sass/screen.scss */
  #content .screen .flex-container .example .thumb:hover p.description {
    top: 0;
    left: 0;
  }

  /* line 811, ../sass/screen.scss */
  #fa-links {
    display: none;
  }
}
@-moz-keyframes ddone {
  0% {
    opacity: 1;
  }
  24.9999999% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ddone {
  0% {
    opacity: 1;
  }
  24.9999999% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ddone {
  0% {
    opacity: 1;
  }
  24.9999999% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes ddtwo {
  0% {
    opacity: 0;
  }
  24.9999999% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  49.9999999% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  74.9999999% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  99.9999999% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ddtwo {
  0% {
    opacity: 0;
  }
  24.9999999% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  49.9999999% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  74.9999999% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  99.9999999% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ddtwo {
  0% {
    opacity: 0;
  }
  24.9999999% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  49.9999999% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  74.9999999% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  99.9999999% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes ddthree {
  0% {
    opacity: 0;
  }
  49.9999999% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74.9999999% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ddthree {
  0% {
    opacity: 0;
  }
  49.9999999% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74.9999999% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ddthree {
  0% {
    opacity: 0;
  }
  49.9999999% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  74.9999999% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
